[Desktop Entry]
Type=Application
Version=@HEXONE_SEMVER@
Name=hexone
Comment=Hex-oriented file manager and protocol analyzer
Exec=hexone %U
Icon=hexone
Terminal=false
Categories=Utility;Development;
StartupNotify=true
StartupWMClass=hexone
X-Hexone-Version=@HEXONE_VERSION@
